h1 {
    font-weight: 800;
    font-size: 50px;
}

body {
    height: 100vh;
    overflow: scroll;
    color: #123C69;
}

@media only screen and (min-width: 768px) {
    .paddingright2_5 {
        padding-right: 2.5px !important;
    }
    
    .paddingleft2_5 {
        padding-left: 2.5px !important;
    }

    .btn-size {
        height: 100%;
    }

    .row54 {
        height: 54px;
    }
}

.no_padding {
    padding: 0;
}

.marginbottom50 {
    margin-bottom: 20px;
}

.bg-secondary {
    background-color: #BAB2B5;
    border-radius: 5px;
}

.container-center {

    align-items: center;
    min-height: 100%;
    display: flex;
}

.padlock{
    color: #AC3B61;
}

.password-length {
    font-weight: 700;
}

.spacer5 {
    height: 5px;
}